.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/tec6.png);
    
}

.container-contact {
    
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.headline {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.headline h1 {
    font-size: 2.5rem;
}

.headline span {
    font-size: 2rem;
}

.content-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.left-contact,
.right-contact {
    width: 100%;
}

.text-contact h1 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.text-contact p {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--gray);
}

.list-contact {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.list-contact span {
    font-size: 1.7rem;
}

.container-list {
    display: flex;
    gap: 1rem;
}

.container-list ul {
    width: 100%;
}

.container-list li {
    font-size: 1.2rem;
    color: var(--gray);
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-list i {
    color: var(--gold);
    font-size: 1.4rem;
}

.redes-sociais-contato {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.redes-sociais-contato span {
    font-size: 1.4rem;
}

.redes-sociais-contato a {
    transition: all 0.3s ease;
    font-size: 1.5rem;
    color: var(--gray);
    transform: translateY(0);
}

.redes-sociais-contato a:hover {
    transform: translateY(-5px);
}

.redes-sociais-contato a:hover .fa-github {
    color: #454545;
}

.redes-sociais-contato a:hover .fa-linkedin {
    color: #0e76a8;
}

.redes-sociais-contato a:hover .fa-whatsapp {
    color: #30D56E;
}


