.services {
    background-image: url(../img/tec6.png);
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--gray);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: 2.5rem;
    line-height: 1;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.box {
    background-color: #151515;
    border-radius: 25px;
    max-width: 320px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 15px;
    overflow: hidden;
}


.box i {
    width: 90px;
    height: 90px;
    display: flex;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
}

.box i {
    transition: all .8s ease;
}

.box:hover i {
    box-shadow: 0px 0px 0px 3px var(--gold);
}

.box h3 {
    font-size: 1.2rem;
    color: var(--gold);
}

.box p {
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}

.container-slide-stacks {  
    width: 100%;
}

.stackks {
    background:#0A090E;
}

.stacks {
    position: relative;
    background-repeat: repeat-x;
    animation: animatedImage 22s linear infinite;
}
@keyframes animatedImage {
     0% { left: 500px;}
   100% { left: -500px;}
}